/* --- NAV --- */

nav {
    width: 100%;
    height: 50px;

    background: #333;

    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    width: 60%;
    height: 100%;
}

nav ul li {
    width: 20%;
    height: 100%;

    list-style: none;
    text-align: center;
}

nav ul li a {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;

    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: red;
    border: 1px solid red;
    border-radius: 50px;
}

/* nav other tab */

.hide {
    display: none;
}

nav ul li:hover .hide {
    display: block;
}

nav ul li ul {
    height: auto;
}

nav ul li ul li {
    background: #333;
    width: 100%;
    height: 50px;
}

nav ul li ul li a:hover {
    border: none;
}