@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
}

/* --- BODY --- */

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Fira code', Courier, monospace;
}

/* --- HEADER --- */

header {
    background-image: url('../Ressources/Images/homeBg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    width: 100vw;
}

/* --- NAV --- */

nav {
    width: 100%;
    height: 50px;

    background: #333;

    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    width: 60%;
    height: 100%;
}

nav ul li {
    width: 20%;
    height: 100%;

    list-style: none;
    text-align: center;
}

nav ul li a {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;

    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: red;
    border: 1px solid red;
    border-radius: 50px;
}

/* nav other tab */

.hide {
    display: none;
}

nav ul li:hover .hide {
    display: block;
}

nav ul li ul {
    height: auto;
}

nav ul li ul li {
    background: #333;
    width: 100%;
    height: 50px;
}

nav ul li ul li a:hover {
    border: none;
}